.gallery {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.TitleHour {
  text-align: center;
  font-size: 36px;
  margin-top: 7rem;
  color: #0F172A;
  /* Slate 900 */
  font-weight: 600;
  letter-spacing: -0.5px;
}