@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.WrapperCoords{
  position: absolute;
  width: 35%;
  height: auto;  
  padding: 8px;  
  z-index: 1000; 
}

.WrapperSelect{  
  font-family: 'Poppins', sans-serif;
  width: 30rem;
  height: auto;
  padding: 17px 23px 5px 7px;
  box-sizing: border-box;
  border: 2px solid  #5DADE2;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 18px 0px 0px 13px;
  font-size: 13px;
}

.LabelCoords{
  margin-right: 10px;
  color: #CCD1D1;
  font-weight: 900;  
}

.SelectCoords{
  width: 66%;
  height: 30px; 
}

.ButtonCalculer{
  position: absolute;
  top: 40px;
  width: 40px;
  height: 40px;
  margin-left:12px;
  background-color:  #5DADE2;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  transition: all 700ms ease;
}
.ButtonCalculer:hover{
  background-color: #85C1E9 ;
  cursor: pointer;
}

.Recients {
  margin: 5px 0px 0px 100px;   
}

.WrapperOptions{
  display: flex;
   flex-direction: column;  
  width: 484px;   
  height: auto;  
  padding: 10px;  
}

.ButtonOptions{
  display: flex; 
  flexDirection: row;
  margin-bottom: 9px;
  text-align: left; 
  width: 11rem;
  height: 32px;
  background: #5DADE2;
  border: none;  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px; 
  opacity: 0.6;
  transition: all 700ms ease; 
}
.ButtonOptions:hover{
  background-color: #85C1E9 ;
  cursor: pointer;
}
.ButtonOptionsIcon{
  color: white;
  margin: 5px 0px 5px 5px;
}
.ButtonOptionsTitle{ 
  font-family: 'Poppins', sans-serif;
  margin: 5px 0px 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;

}
.OptionMagnitud{
  display: flex;
  flex-direction: row;
  width: 30rem;  
}
.SelectMagnitude{
  width: 5rem;
  height: 31px;
  background: white;
  border: none;
  border-radius: 10px;
  margin-inline: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.OptionCount{
  display: flex;
  flex-direction: row;
   width: 30rem;
 
}
.SelectCount{  
  width: 9rem;
  height: 26px;
  border: none; 
  margin-inline: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
}
.ContainerCount{
  padding-inline: 4px;
}
.CountIncrementar,
.CountDercrementar {
  margin-inline: 13px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: none;
  transition: all 700ms ease;
  background-color: #5DADE2;
  color: white;
  font-weight: bold;
}
.CountIncrementar:hover,
.CountDercrementar:hover {
  background: #85C1E9;
  cursor:pointer;
}
.OptionUnits{
 display: flex;
flex-direction: row;
width: 30rem; 
}

.inputUnits{
  width: 11em;
  height: 20px;  
}

.ContainerUnits{
  width: 12rem;
  height: 53px;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  padding: 8px 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
  
}
.OpUntisChecbox{
  display: flex;
  flex-direction: row;
  margin: 3px 0px 0px 30px;  
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.InputUnitsKm{
  padding-right: 12px;     
}



