@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.RouterNav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 90%;
  padding: 10px 78px;
  background: #4a98f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.NavLinks {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  column-gap: 20px;
}

.NavItem {
  margin-inline: 4px;
}

.RouterNavLink {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 11rem;
}

.Submenu {
   display: flex;
  position: absolute;
  top: 75px;
  left: 75%;
  display: block;
  background: #4a98f7;
  padding: 10px;
  z-index: 1;
  list-style: none;
  width: 160px; /* ajusta el ancho del submenú según tus necesidades */
  opacity: 0;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(-10px); /* oculta el submenú inicialmente */
  transition: opacity 0.3s, transform 0.5s, visibility 10s; /* transición de visibilidad */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.NavItem:hover .Submenu,
.Submenu:hover {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Hacer que el submenú sea visible en el hover */
}

/* Agrega estilos para ocultar con retraso al quitar el cursor */
.NavItem:not(:hover) .Submenu {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
}

.SubmenuItem {
  margin: 4px 0;
}

.SubmenuItem > .RouterNavLink {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  transition: background 0.3s;
}

.SubmenuItem > .RouterNavLink:hover {
  background: rgba(255, 255, 255, 0.1);
}
.SubmenuLibrary {
  display: block;
  position: absolute;
  top: 75px;
  left: 82%; /* Ajusta la posición según tus necesidades */
  background: #4a98f7;
  padding: 10px;
  z-index: 1;
  list-style: none;
  width: 160px; /* Ajusta el ancho del submenú según tus necesidades */
  opacity: 0;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(-10px); /* Oculta el submenú inicialmente */
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s; /* Transición de visibilidad con retraso */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.NavItemLibrary:hover .SubmenuLibrary,
.SubmenuLibrary:hover {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Hacer que el submenú sea visible en el hover */
}

/* Agrega estilos para ocultar con retraso al quitar el cursor */
.NavItemLibrary:not(:hover) .SubmenuLibrary {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition-delay: 0.2s; /* Retraso antes de ocultar */
}



@media screen and (min-width: 1280px) {
  /* Estilos específicos para pantallas grandes */
  .RouterNav{
    width: 92%;
  }
  
  .Submenu{
    display: flex;
    left: 73%;
    /* border: 1px solid yellow; */
  }
}
  /* Puedes agregar más estilos aquí */
@media screen and (min-width: 1440px){
  .RouterNav{
    width: 92%;
  }
  .Submenu{
    display: flex;
    left: 80%;
    
  }
  .SubmenuLibrary{    
    left: 87%;    
  }
}
