@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.CardRember {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 91%;
  justify-content: center;    
}

.tarjeta{
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2;
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  border: 1px solid  #5DADE2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;  
}

.tarjeta:hover{
  margin: 5px;
  transform: scale(1.05);
  outline: 2px solid #3498DB;
  outline-offset: 5px;  
}
.textTitleCard{
  position: absolute;
  font-size: 15px;
  text-align: center;
  
}
.MwMagnitude{
   margin-top: 60px; 
}

.IconCard{
  position: absolute;
  width: 59px;
  height: 52px;
  top: 152px;
  left: 127px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%);
}
.CityCard{
  position: absolute;
  top: 12rem;
  font-size: 14px;
  
}


.CardButton {
  background-color:  #3498DB ;
 border: none;
 padding: 10px;
 font-size: 1rem;
 width: 8em;
 border-radius: 1rem;
 color: white;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
 transition: 0.3s;
  text-align: center;
}

.CardButton:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

.CardButton:hover:not(:disabled) {
 background: #85C1E9;
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

.CardButton:disabled {
 cursor: auto;
 color: grey;
}
.ContainerLoad{
  position: absolute;
  top: 15rem;
  left: 36rem;
}



