@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.ErrorWrapper{
  position: relative; 
}

.ErrorContainer{
  display: block;
  box-sizing: border-box;
  width: 42rem;
  height: auto;
  padding: 20px;  
  position: absolute;
  top: 27px;
  left: 25%; 
}

.MsgRequest{
  color: #5DADE2;
  text-align: center;
  font-size: 100px;
  font-family: 'Poppins', sans-serif; 
}

.Msg{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;  
}
.DifficultiesMsg {
 width: 50%;
 height: auto;
 margin-left: 10rem;
 }